a {
  color: inherit;
}
a:hover {
  color: #6a39ff;
}
nav {
  justify-content: center;
}
nav a {
  font-family: "Rubik";
}
body {
  font: 24px "Spectral", sans-serif;
  line-height: 1.3;
}
.container {
  max-width: 850px;
}
#titles-container {
  background-color: #6a39ff;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
#titles {
  font-size: 3rem;
  background-color: #fff;
  padding: 1rem;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
  border: 2px solid #000;
}
#titles h1 {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 3rem;
}
#titles h2 {
  font-size: 1.5rem;
}
#titles h3.date {
  font-size: 1.2rem;
}
#posts {
  list-style: none;
  padding: 0;
}
#posts .card {
  border: none;
  margin-bottom: 2em;
}
#posts .card .title,
#posts .card .date {
  font-family: "Rubik";
}
#posts .card .title a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
#posts .card .title a:hover {
  color: #6a39ff;
}
#posts .card .date {
  font-size: 75%;
  opacity: 0.7;
  margin-bottom: 1em;
}
code {
  font-family: "Anonymous Pro";
}
figure.highlight {
  overflow-x: auto;
}
figure.highlight table {
  width: 100%;
}
figure.highlight table tr {
  min-width: 100%;
  display: flex;
}
figure.highlight table .code {
  flex: 1;
}
figure.highlight pre {
  margin: 0;
  font-size: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  line-height: 1.5;
}
figure.highlight pre .string {
  color: #f00;
}
figure.highlight pre .keyword {
  font-weight: bold;
}
figure.highlight pre .function .title {
  color: #6a39ff;
}
figure.highlight pre .function .params {
  font-weight: bold;
}
.inline-icon {
  margin-left: 0.3em;
  margin-right: 0.3em;
}
#content article a {
  color: #6a39ff;
  text-decoration: underline;
}
#content article p {
  margin-bottom: 1.3em;
}
#content article img {
  padding: 1rem;
  max-width: 100%;
}
#content article h2,
#content article h3,
#content article h4,
#content article h5,
#content article h6 {
  margin-top: 1.3em;
  margin-bottom: 0.65em;
  font-family: "Rubik";
  font-weight: bold;
}
#pagination a {
  text-decoration: none;
}
